*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
    /* justify-content: begin; */
}
/* #left{
    display:flex;
    justify-content: first baseline;
} */
#parent{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 5px solid rgb(34, 32, 32); */
    margin: 100px 170px;
    padding: 10px 360px;
    position: relative;
    
}
button{
    height: 80px;
    width: 130px;
    margin: 10px 10px;
}
h1 {
    text-align: center;
}

#boxRandom{
    background-color: blue;

}
#child{
    display: none;
    z-index: 500;
    position: absolute;
    background-color: grey;
    padding: 0px 0px;
    margin: 0px 300px;
    width: 50%;
    height: 100%;
    border-radius: 10%;
    border: 5px solid black;

}
#buttonDiv{
    padding: 0px 0px;
    margin: 0px 300px;
    justify-content: center;
    display:flex;
}
#child1Ans{
    justify-content: center;
    display: inline;
    padding: 0px 0px;
    margin: 0px 5px;
    
}
